nav {
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: sticky;
  background-color: #232531;
  color: #fff;
  top: 0;
  width: 100%;
  padding: 0 3rem;
}

nav .brand {
  font-family: "Poppins", sans-serif;
  font-size: 20pt;
  font-weight: bold;
  padding: 1rem 0;
  margin-right: 1rem;
  text-decoration: none;
  color: #fff;
}

nav .brand span {
  color: #e20;
}

.nav-user {
  position: relative;
}

.nav-user .dialog {
  display: none;
  position: absolute;
  right: 0;
  top: 200%;
  padding: 1rem;
  border-radius: 10px;
  background-color: #232531;
  border: gray 3px solid;
}

.nav-user.active .dialog {
  display: block;
}

.nav-user .arrow {
  display: inline-block;
  transition: 0.2s linear;
}

.nav-user.active .arrow {
  transform: rotate(180deg);
}

.nav-user .dialog a {
  text-decoration: none;
  display: inline-block;
  color: white;
  min-width: 180px;
}

.nav-user .dialog a:hover {
  background-color: #820;
}
